In [2]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:Tester2965@34.69.30.119:5432/triviapractice')
engine.connect()

In [ ]:
# load the TSV file into a pandas DataFrame, data that was labeled as 'basics'
df = pd.read_csv('people.tsv', sep='\t')

# # do something with the DataFrame (e.g. print the first 5 rows)
print(df.head())

print(pd.io.sql.get_schema(df,name='people',con=engine))
df.to_sql(name='people',con=engine,if_exists='append')

      nconst      primaryName birthYear deathYear
0  nm0000001     Fred Astaire      1899      1987  \
1  nm0000002    Lauren Bacall      1924      2014
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi      1949      1982
4  nm0000005   Ingmar Bergman      1918      2007

                     primaryProfession
0       soundtrack,actor,miscellaneous  \
1                   actress,soundtrack
2  actress,soundtrack,music_department
3              actor,soundtrack,writer
4                writer,director,actor

                            knownForTitles
0  tt0045537,tt0072308,tt0053137,tt0050419
1  tt0037382,tt0117057,tt0075213,tt0038355
2  tt0054452,tt0056404,tt0049189,tt0057345
3  tt0080455,tt0078723,tt0072562,tt0077975
4  tt0060827,tt0050986,tt0083922,tt0050976

CREATE TABLE people (
	nconst TEXT,
	"primaryName" TEXT,
	"birthYear" TEXT,
	"deathYear" TEXT,
	"primaryProfession" TEXT,
	"knownForTitles" TEXT
)

In [5]:
for chunk in pd.read_csv('imdb_data/data_1.tsv', sep='\t', chunksize=10000):
    chunk.to_sql(name='movie_details',con=engine,if_exists='append')

In [6]:
# load the TSV file into a pandas DataFrame, additional data that's labeled as 'akas'
df = pd.read_csv('imdb_data/data_ratings.tsv', sep='\t')

# do something with the DataFrame (e.g. print the first 5 rows)
#print(df.head())
print(pd.io.sql.get_schema(df,name='movie_ratings',con=engine))

CREATE TABLE movie_details (
	tconst TEXT,
	"averageRating" FLOAT(53),
	"numVotes" BIGINT
)